/* Basic Styles */
body, h1, h2 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 
body {
    padding: 20px;
    background-color: #f4f4f4;
    
}
 
h1, h2 {
    margin-bottom: 20px;
}
 
section {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
}
 
/* Box Styling */
.box {
    width: 150px;
    height: 150px;
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
}
 
/* Specific Box Styles */
.box1 {
    background-color: red;
    top: 50px;
    left: 50px;
    z-index: 1;
}
 
.box2 {
    background-color: blue;
    opacity: 0.5;
    top: 100px;
    left: 100px;
    z-index: 3;
}
 
.box3 {
    background-color: green;
    top: 150px;
    left: 150px;
    z-index: 2;
}
 
 