body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px ;
  background-color: #e69cfc;
}
 
h1 {
  text-align: center;
  color: #333;
}
 
.box-fixed {
  width: 200px;
  height: 150px;
  background-color: coral;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
}
 
.box-percentage {
  width: 50%;
  height: 20%;
  background-color: lightblue;
  color: #333;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
}
 
.box-auto {
  width: auto;
  height: auto;
  background-color: lightgreen;
  color: #333;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
}
 
.box-minmax {
  width: 100px;
  height: 100px;
  min-width: 150px;
  min-height: 150px;
  max-width: 600px;
  max-height: 600px;
  background-color: lightcoral;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
}
 
.box-overflow{
     width: 200px;
    height: 100px;
    background-color: chartreuse;
    border: 2px solid deeppink;
    color:darkblue;
    overflow:auto;
}
 
 